@font-face {
  font-family: calcFont;
  src: url(../fonts/Digital-Display.woff);
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
}
  
body {
  font-family: "helvetica", Arial, sans-serif; 
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1200px;
  background: url(../img/bg.jpg) center center no-repeat;
  background-size: cover;
}

.page .container:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  display: flex;
  width: 1150px;
  margin: 100px auto;
}

.page_left {
  width: 50%;
}

.page_right {
  width: 50%;
}

.page_right {
  color: #fff;
}

.title {  
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: 100;
}

.about_btn {
border: 1px solid #ededed;
border-radius: 24px;
background-color: #fdfdfd;
box-shadow: 0px 2px 2px 0px rgb(7 114 172 / 75%);
height: 52px;
display: inline-block;
line-height: 52px;
padding: 0 25px;
text-decoration: none;
font-size: 24px;
color: #0790ec;
}

footer {
  font-size: 12px;
  font-weight: 100;
  color: #202020;
  text-align: center;
  padding-bottom: 4px;
}